@import url('https://fonts.cdnfonts.com/css/star-wars');

:root{
  --heading-font: 'Montserrat','Source Sans Pro', sans-serif;
  --subheading-font: 'Star Wars', 'Source Sans Pro', sans-serif;
  --para-font: 'Poppins', 'Source Sans Pro', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --background-color: #090924;
  --primary-color: #F6F6DB;
  --secondary-color: #FFF8EC;
  --accent-color: #E6E636;
  --box-color: #B9B9B9;
  --page-black: #222222;
  --page-white: #f1f1e2;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  color: var(--primary-color);
}

@media (prefers-color-scheme: light) {
  :root {
  --background-color: #F6F6DB;
  --primary-color: #090924;
  --secondary-color: #222222;
  --accent-color: #FFF8EC;
  --page-black: #e4e4e4;
  --page-white: #385070;
  }
}